.contact {
  background: #EAF2FD;
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
}

.contact h2 {
  text-align: center;
  margin: 1rem 0;
}

.form {
  display: flex;
  margin: 1.5rem 0;
  flex-direction: column;
}

.form label {
  margin: 0 5px;
}

#name {
  border: none;
  margin: 1rem 10px;
  padding: 10px 0;
  width: 328px;
}

#textarea {
  border: none;
  margin: 1rem 10px;
  padding: 5px;
  width: 328px;
  resize: none;
}

.form button {
  background: #2a7ae4;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: 0 10px;
  padding: 1rem 0;
  width: 7rem;
}

.about__company .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__company .logo img {
  width: 3.5rem;
}

.about__company ul {
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
}

.about__company ul li {
  margin: 20px 0;
}

.about__company li a {
  cursor: pointer;
}

/*      Responsive Design       */

/* Tablet */

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .contact {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .contact h2 {
    position: absolute;
    margin-right: 34%;
  }

  .form {
    margin: 5.5rem 4rem;
  }

  .about__company {
    margin: 5rem auto;
  }

  .about__company .logo {
    margin: 0 4rem;
  }
}

/* Desktop */

@media screen and (min-width: 1024px) {
  .contact {
    margin: 23% 0 auto;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .contact h2 {
    position: absolute;
    margin-right: 45%;
  }

  .form {
    margin: 5.5rem 13%;
    padding: 1rem;
    border: 1px solid aliceblue;
    border-radius: 10px;
    box-shadow: 5px 4px 5px 5px #ccc;
  }

  .about__company {
    display: flex;
    margin: 5rem auto;
  }

  .about__company .logo {
    position: relative;
    margin: 0 4rem;
    top: -28%;
  }

  .about__company ul {
    margin: 10% 0;
    font-size: 18px;
  }
}