.contact {
  background: #EAF2FD;
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
}

.contact h2 {
  text-align: center;
  margin: 1rem 0;
}

.form {
  display: flex;
  margin: 1.5rem 0;
  flex-direction: column;
}

.form label {
  margin: 0 5px;
}

#name {
  border: none;
  margin: 1rem 10px;
  padding: 10px 0;
  width: 328px;
}

#textarea {
  border: none;
  margin: 1rem 10px;
  padding: 5px;
  width: 328px;
  resize: none;
}

.form button {
  background: #2a7ae4;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: 0 10px;
  padding: 1rem 0;
  width: 7rem;
}

.about__company .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__company .logo img {
  width: 3.5rem;
}

.about__company ul {
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
}

.about__company ul li {
  margin: 20px 0;
}

.about__company li a {
  cursor: pointer;
}