.hero {
  display: flex;
  padding: 10px;
  width: 100%;
}

.logo {
  margin-top: 1rem;
}

.logo a img {
  width: 2rem;
}

.logo img {
  width: 2rem;
}

.nav__links {
  display: flex;
  margin: 5px;
}

.nav__links li {
  margin: 1rem 1rem;
}

li #login__btn {
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  padding: 1rem 2rem;
}

#search__icon {
  margin-left: 2rem;
  width: 10px;
}

/*            Responsive design                */

/*   Tablet   */

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .hero {
    height: 6rem;
  }

  .logo {
    width: -1rem;
  }

  .logo a img {
    width: 3rem;
  }

  .logo img {
    width: 4rem;
    margin: 5px;
  }

  #login__btn {
    position: absolute;
    margin: 0 50%;
    margin-top: -.5rem;
  }

  .fa-magnifying-glass {
    color: black;
    position: absolute;
    right: 19rem;
    margin-top: .5rem;
  }
}

/* Desktop */

@media screen and (min-width: 1024px) {
  .hero {
    height: 6rem;
  }

  .logo {
    width: -1rem;
    margin-left: 15%;
  }

  .logo a img {
    width: 3rem;
    vertical-align: super;
  }

  .logo img {
    width: 4rem;
    margin: 5px;
  }

  #login__btn {
    position: absolute;
    margin: 0 45%;
    margin-top: -.5rem;
  }

  .fa-magnifying-glass {
    color: black;
    position: absolute;
    right: 35%;
    margin-top: .5rem;
  }
}