.hero {
  display: flex;
  padding: 10px;
  width: 100%;
}

.logo {
  margin-top: 1rem;
}

.logo a img {
  width: 2rem;
}

.logo img {
  width: 2rem;
}

.nav__links {
  display: flex;
  margin: 5px;
}

.nav__links li {
  margin: 1rem 1rem;
}

li #login__btn {
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  padding: 1rem 2rem;
}

#search__icon {
  margin-left: 2rem;
  width: 10px;
}