/*Starwars*/
.gallery__title {
  display: flex;
  padding: 2rem 5px;
  justify-content: space-between;
}

.gallery__title a {
  color: #2a7ae4;
}

.fa-solid {
  margin-left: 5px;
}

.products__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 1rem;
}

.products img {
  box-shadow: 5px 4px 5px 1px #cccccc;
  border-radius: 5px;
  transition: 400ms ease-in-out;
}

.products img:hover {
  transform: scale(1.1);
}

.products h5 {
  margin: 10px 0;
}

.products p {
  margin: 5px 0;
}

.products a {
  color: #2a7ae4;
}

#add__desktop {
  display: none;
}

/*     Responsive Design      */

/*   Tablet   */

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .gallery {
    padding: 30% 0;
    height: 95rem;
  }

  .gallery__title {
    margin: 0;
    padding: 3rem;
  }

  .fa-arrow-right {
    color: #2a7ae4;
  }

  .products__container {
    margin: 0 3rem;
  }
}

/* Desktop */

@media screen and (min-width: 1024px) {
  .gallery {
    position: relative;
  }

  .gallery__title {
    margin: 3rem 13%;
  }

  .starwars__gallery,
  .consoles__gallery {
    width: 85%;
    margin-left: 5%;
  }

  .fa-arrow-right {
    color: #2a7ae4;
    margin: 0.3%;
    right: 1%;
  }

  
  .products__container {
    margin: 0 13%;
  }
  
  .products {
    padding: 0;
    margin: 1rem 5px;
  }

  .products img {
    width: 156px;
    height: 174px;
  }

  .fa-arrow-right {
    position: relative;
    margin: 0 93%;
    top: -47%;
  }

  #add__desktop {
    display: block;
  }
}