/*Starwars*/
.gallery__title {
  display: flex;
  margin: 10px;
  padding: 2rem 0;
  justify-content: space-between;
}

.gallery__title a {
  color: #2a7ae4;
}

.fa-solid {
  margin-left: 5px;
}

.products__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 1rem;
}

.products h5 {
  margin: 10px 0;
}

.products p {
  margin: 5px 0;
}

.products a {
  color: #2a7ae4;
}

/*     Responsive Design      */

/*   Tablet   */

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .gallery {
    padding: 39% 0;
    height: 95rem;
  }

  .gallery__title {
    margin: 0;
    padding: 0;
  }

  .gallery__title a {
    margin: 2rem;
  }

  .gallery__title h3 {
    margin: 1rem;
  }

  .fa-arrow-right {
    color: #2a7ae4;
    margin: 0.3%;
    right: 1%;
  }

  .products__container {
    margin: 0 3rem;
  }
}

/* Desktop */

@media screen and (min-width: 1024px) {
  .gallery {
    position: relative;
  }

  .gallery__title {
    margin: 2rem 10rem;
    padding: 1rem;
  }

  .gallery__title a {
    margin: 2rem;
  }

  .starwars__gallery,
  .consoles__gallery {
    width: 85%;
    margin-left: 5%;
  }

  .gallery__title h3 {
    margin: 1rem;
  }

  .fa-arrow-right {
    color: #2a7ae4;
    margin: 0.3%;
    right: 1%;
  }

  .products {
    padding: 0;
    margin: 0;
  }

  .products__container {
    margin: 0 13%;
  }

  .fa-arrow-right {
    position: relative;
    margin: 0 93%;
    top: -47%;
  }
}