.login {
  /* background: url(../img/background-login.jpg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.video__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 109%;
  overflow: hidden;
}

.background__video {
  position: relative;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.login h3 {
  color: #2A7AE4;
  margin-top: 5em;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__form input {
  padding: 1rem .5rem;
  margin: .5rem 0;
  border-radius: 5px;
  border: none;
  width: 15rem;
}

.btn__login {
  background: #2A7AE4;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: .5rem;
  margin-bottom: 3rem;
  width: 6rem;
  height: 3rem;
  transition: 600ms;
}

.btn__login:hover {
  cursor: pointer;
  background: #fff;
  color: #2A7AE4;
}

/* Responsive */

/*Background video*/

@media (min-aspect-ratio: 16/9) {
  .background__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background__video {
    width: auto;
    height: 100%;
  }
}

/* tablet */

@media screen and (min-width: 767px) and (max-width: 1023px) {

  .login {
    justify-content: center;
    height: 55vh;
  }

  .login__form input {
    margin: .5rem 0;
    padding: 1rem 1.5rem;
    width: 20rem;
  }

  .btn__login {
    width: 10rem;
  }
}

/* Desktop */

@media screen and (min-width: 1024px) {

  .login {
    justify-content: center;
    height: 90vh;
  }

  .login h3 {
    font-size: 1.7rem;
  }

  .login__form input {
    padding: 1.2rem 1.5rem;
    width: 25rem;
  }

  .btn__login {
    width: 10rem;
  }
}